# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia
5. Sql

Some of the commonly used libraries used by Data Scientists include:
1. numPy
2. Pandas
3. SciPy

| Data Science Tools |
| :- |
| Apache Spark |
| Apache Hadoop |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [88]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [89]:
# writing code to convert 200 minutes into hours.
# This will convert 200 minutes to hours by diving by 60
a = 200
# print(a)
print ( a//60, end=" " )
print ("hours " , end=" ")
print ( a % 60, end=" " )
print ("Minutes " , end=" ")

3 hours  20 Minutes

**Objectives:**

* Python
* R
* Scala
* Julia
* Sql

## Author
'Venkata Ramana Murthy'

'Thank you ! '